<section>
    <md-tabs md-dynamic-height md-border-bottom md-autoselect>
        <md-tab flex ng-repeat="cat in ctrl.vises" label="{{cat.category}}">

            <div layout="row" layout-wrap layout-align="center top">
                <md-card md-flex="40" sm-flex="100" ng-repeat="vis in cat.vises">
                    <div class="md-actions" layout="row" layout-align="end center">
                        <h4>{{vis.title}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="Favorite">
                            <i class="material-icons">favorite</i>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="More">
                            <i class="material-icons">more_vert</i>
                        </md-button>
                    </div>
                    <md-card-content>
                        <Tableau-Chart url="vis.url"></Tableau-Chart>
                    </md-card-content>

                </md-card>
            </div>

            <!--<md-content layout-padding>
                    <md-whiteframe ng-repeat="vis in cat.vises">
                    <md-toolbar class="md-warn">
                        <div class="md-toolbar-tools">
                            <h2><span>{{vis.title}}</span></h2>
                            <span flex></span>
                            <md-button class="md-icon-button" aria-label="Favorite">
                                <i class="material-icons">favorite</i>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="More">
                                <i class="material-icons">more_vert</i>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <Tableau-Chart url="vis.url"></Tableau-Chart>
                </md-whiteframe>
            </md-content>-->

        </md-tab>
    </md-tabs>
</section>